# Base
BASE_URL=http://localhost:3000
API_SECRET_KEY=change_me_long_random
API_BASE=http://localhost:4000
API_JWT_TTL=30d
ADSENSE_CLIENT=ca-pub-5494809300460705
TAWK_TO_WIDGET_URL=https://embed.tawk.to/69a1b03b37d2cc1c36f4a8a7/1jifpgq5r

# MySQL
DATABASE_URL=mysql://root:@127.0.0.1:3306/discord_economy

# Discord
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_client_id
DISCORD_CLIENT_SECRET=your_client_secret
DISCORD_REDIRECT_URI=http://localhost:4000/auth/discord/callback

# Twitch
TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_REDIRECT_URI=http://localhost:4000/auth/twitch/callback
TWITCH_EVENTSUB_SECRET=change_me_eventsub_secret
TWITCH_EVENTSUB_CALLBACK=https://your-public-domain
